.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 25px;
}

.form div {
  padding: 5px;
  /* width: 600px; */
}

.form input {
  width: 400px;
  padding: 5px;
}
.btn{
  padding: 5px;
  width: 100px;
  background-color: burlywood;

}

.btn:hover
{
    cursor: pointer;
    background-color: gray;
}

.btn:active
{
  background-color: black;
  color: white;
}
